<div class="container">
  <mat-card class="card-content">
    <mat-card-header>
      <mat-card-title>{{weatherInfo?.sys?.country}}/{{weatherInfo?.name}}</mat-card-title>
      <mat-card-subtitle>Time:  {{weatherInfo.currentTime | date : 'short'}}</mat-card-subtitle>
    </mat-card-header>
       
    <mat-card-content>
      <div class="day-or-night-info">
        <strong> {{weatherInfo.weather[0].icon.includes('n') ? 'Night: ' : 'Day: '}}</strong>
        <img class="image-weather"  [src]="weatherInfo.weather[0].url" alt="Image of weather" >
      </div>
      <div>
        <strong>Description: </strong> {{weatherInfo.weather[0].description}}
      </div>
      <div>
        <strong> Situation: </strong>{{weatherInfo.weather[0].main}}
      </div>
      <div>
  
      </div>
    </mat-card-content>
    
      <button mat-button class="refresh-button" (click)="getLocation()">REFRESH INFO</button>
  </mat-card>
</div>